[Desktop Entry]
Exec=google-chrome-stable --new-window youtube.com
Icon=youtube
Terminal=false
Type=Application
Name=Youtube
Comment=
Categories=
MimeType=text/plain;inode/directory;
StartupNotify=true
StartupWMClass=youtube
